<ion-header>

    <ion-navbar>
        <ion-title>{{TitleName}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="headerDiv">
        <div class="fixed-box" style="border-top: none; padding: 0;">
            <span>进度</span><span id="current">{{showNum+1}}</span>/<span id="total">{{questionsVosLength}}</span>
            <div class="exam-progress-bar">
                <div class="exam-progress" [ngStyle]="bindShowNumPercentage()"></div>
            </div>
        </div>
    </div>

    <div class="item exam" style="display: block;">
        <ul class="subject-list">
            <li *ngFor="let item of questionsVos; let i=index">
                <div class="subject-item" *ngIf="showNum==i">
                    <div class="question" questiontypeid="2" [ngSwitch]="item.examQuestionVo.questionTypeId">
                        {{i+1}}、
                        <span [innerHtml]="isFill(item.examQuestionVo.content,i)"></span>
                        <div class="subject-list-Img" *ngIf="item.examQuestionVo.url"><img
                            src={{item.examQuestionVo.url}}>
                        </div>

                        <span *ngSwitchCase="1" class="question-type question-type-color-2">单选题</span>
                        <span *ngSwitchCase="2" class="question-type question-type-color-2">多选题</span>
                        <span *ngSwitchCase="3" class="question-type question-type-color-2">判断题</span>
                        <span *ngSwitchCase="4" class="question-type question-type-color-2">问答题</span>
                        <span *ngSwitchCase="5" class="question-type question-type-color-2">阅读理解</span>
                        <span *ngSwitchCase="6" class="question-type question-type-color-2">填空题</span>
                    </div>
                    <div [ngSwitch]="item.examQuestionVo.questionTypeId">
                        <!--单选题-->
                        <div *ngSwitchCase="1" class="options-list">
                            <ion-list radio-group (ionChange)="getRadion(item.probId,$event)">
                                <ion-item text-wrap
                                          *ngFor="let examQuestionOptionVo of item.examQuestionVo.examQuestionOptionVos;let i=index">
                                    <ion-radio value="{{examQuestionOptionVo.id}}" checked="{{examQuestionOptionVo.select}}"></ion-radio>
                                    <ion-label>
                                    <span *ngIf="!examQuestionOptionVo.type||examQuestionOptionVo.type==1">
                                        <span class="letter">{{conversionFun(i)}}</span>{{examQuestionOptionVo.content}}
                                    </span>
                                        <span *ngIf="examQuestionOptionVo.type==2">
                                         <span class="letter">{{conversionFun(i)}}</span><img class="question_img"
                                                                                              src={{examQuestionOptionVo.remark}}
                                                                                              alt="">
                                    </span>
                                    </ion-label>

                                </ion-item>

                            </ion-list>
                        </div>
                        <!--多选题-->
                        <div *ngSwitchCase="2" class="options-list">
                            <ion-list>
                                <ion-item text-wrap
                                          *ngFor="let examQuestionOptionVo of item.examQuestionVo.examQuestionOptionVos;let i=index">
                                    <ion-label>
                                    <span *ngIf="examQuestionOptionVo.type==1">
                                        {{conversionFun(i)}}、{{examQuestionOptionVo.content}}
                                    </span>
                                        <span *ngIf="examQuestionOptionVo.type==2">
                                         {{conversionFun(i)}}、<img class="question_img" src={{examQuestionOptionVo.remark}} alt="">
                                    </span>
                                    </ion-label>
                                    <ion-checkbox checked="{{examQuestionOptionVo.select}}" (ionChange)="getCheckbox(examQuestionOptionVo.probId,examQuestionOptionVo.id)"></ion-checkbox>


                                </ion-item>

                            </ion-list>

                        </div>
                        <!--判断题-->
                        <div *ngSwitchCase="3" class="options-list">
                            <ion-list radio-group (ionChange)="getRadion(item.probId,$event)">
                                <ion-item text-wrap
                                          *ngFor="let examQuestionOptionVo of item.examQuestionVo.examQuestionOptionVos;let i=index">
                                    <ion-radio checked="{{examQuestionOptionVo.select}}" value="{{examQuestionOptionVo.id}}"></ion-radio>
                                    <ion-label>
                                        <span class="letter">{{conversionFun(i)}}</span>{{examQuestionOptionVo.content}}
                                    </ion-label>

                                </ion-item>
                            </ion-list>
                        </div>
                        <!--问答题-->
                        <div *ngSwitchCase="4" class="options-list">
                        <textarea (keyup)="getTextareaKeyupFun($event,item.examQuestionVo.id)" class="game-textarea" placeholder="请在此处作答" value="{{item.examQuestionVo.probResult}}"></textarea>
                        </div>
                        <!--填空题-->
                        <div *ngSwitchCase="6" class="options-list">
                        </div>
                    </div>
                </div>
                <div *ngIf="isShowAnalysis">
                    <div class="answer-resolve" *ngIf="showNum==i">
                        <div class="answer">参考答案：<span
                            [innerHtml]="bindanswer(i,item.examQuestionVo.questionTypeId,item.examQuestionVo.refrence)"></span>
                        </div>
                        <div class="resolve">
                            题目解析：
                            <p>{{item.examQuestionVo.description}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>




</ion-content>

<ion-footer class="footer" id="footer-id">
    <div class="game-footer">
        <button [disabled]="showNum==0?'disabled':''" class="prev_btn" (click)="prevFun()">上一题</button>
        <span (click)="ShowAnalysis()" *ngIf="objType==3">查看答案</span>
        <button *ngIf="boolSubmit==false" class="next_btn" (click)="nextFun()">下一题</button>
        <!--<button *ngIf="boolSubmit==false" class="next_btn" (click)="nextFun()">下一页</button>-->
        <button *ngIf="boolSubmit==true" class="submit_btn " (click)="totalScoreFun()">提交</button>
    </div>
</ion-footer>
