

.circle-popoverpage-page {
.popover-content {
    position: relative !important;
    left: 0px !important;
    width: 100% !important;
    min-height: 0;
    max-height: 90%;
    border-radius: 0px !important;
    background: none !important;
}    
}