page-member-info {
.info-list{
    border-bottom: 10px solid #eee;
}
.info-list .item {
	border-bottom: 1px solid #e5e5e5;
}

.info-list .item a {
	display: block;
	padding: 12px;
}
.info-list .item .item-box {
	position: relative;
}
.info-list .item .name {
	position: absolute;
	top: 0;
	left: 0;
}

.info-list .item .content {
	margin: 0 0 0 100px;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 20px;
}
.info-list .item .content-1 img,
.info-list .item .content img {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}
.content-1{
	margin: 0 0 0 100px;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.info-list .item .avaster {
	display: inline-block;
	width: 35px;
	height: 35px;
}
.info-list .item .avaster img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}

#exit_btn {
	display: block;
	padding: 12px;
	color: #ff0000;
	text-align: center;
}
.hidden {
	display: none;
}
#back_btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 80px;
}
#back_btn img{
	width:100%;
}
/******************************
	更换头像样式
******************************/
.change-avatar-mask {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: rgba(0,0,0,.5);
}
.change-avatar-wrap {
	position: relative;
	top: 25%;
	margin: 0 auto;
	width: 240px;
	color: #333;
	font-size: 16px;
	border-radius: 4px;
	background-color: rgba(255,255,255,1);
}
.change-avatar-header {
	padding: 12px;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 4px 4px 0 0;
	background: #fafafa;
}
.change-avatar-content {
	padding: 20px;
  text-align:center;
}
#clipArea{
  height:300px;
  position:relative;
  margin:0 auto;
  max-width:480px;
  display:none;
}
#clipBtn{
	border: none;
  outline: none;
  padding: 5px 10px;
  background:#fff;
  display:none;
}
#upload{
  background: #2b8ee2;
  display: none;
  border: none;
  outline: none;
  padding: 5px 10px;
  color: #fff;
}
#view{
  display:none;
  width:200px;
  height:200px;
  margin:0 auto;
}
#file{
	border: none;
  outline: none;
	margin-top:20px;
	margin-left: 40px;
	border: 1px solid #fff;
  background: #fff;
}
#clipBtn,#choose{
  margin:20px 20px 20px 40px;
}
.uploader-list{
  width:100%;
  height:100px;
}
.clip_btn_wrap span{
	display: none;
	margin-left: 10px;
  font-size: 12px;
	color: #f3565d;
}
/******************************
	调整actionSheet高度
******************************/
.action-sheet-ios .action-sheet-button{
	height: 45px !important;
}
}
