page-game-comment {
    /******************************
        关卡信息样式
    ******************************/
    .quest-info-wrap {
        margin: 0 0 12px 0;
        padding: 12px;
        background: #fff;
    }
    .quest-info-wrap .quest-name {
        margin: 0 0 15px 0;
        color: #333;
        font-size: 20px;
    }
    .quest-info-wrap .quest-desc {
        color: #666;
        font-size: 15px;
        text-align: justify;
    }

    /******************************
        课程评论样式
    ******************************/
    .tab-box .hd {
        position: relative;
    }
    .tab-box .hd ul {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0 12px;
    }
    .tab-box .hd ul:before,
    .tab-box .hd ul:after {
        display: table;
        content: "";
    }
    .tab-box .hd ul:after {
        clear: both;
    }
    .tab-box .hd ul li {
        float: left;
        margin: 0 0 0 10px;
    }
    .tab-box .hd ul li a {
        display: inline-block;
        padding: 0 1px 1px;
        text-align: center;
    }
    .tab-box .hd ul li.on a {
        color: #1A8CDF;
        border-bottom: 1px solid #1A8CDF;
    }
    .comment-list {
        margin: 0 0 12px 0;
        background: #fff;
    }
    .comment-list .item {
        padding: 12px;
        border-bottom: 1px solid #e5e5e5;
        word-break: break-all;
    }
    .comment-list .item-box {
        position: relative;
        min-height: 35px;
    }
    .comment-list .avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 35px;
    }
    .comment-list .avatar img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    .comment-list .content {
        margin: 0 0 0 45px;
    }
    .comment-list .content .name {
        margin: 0 0 5px 0;
        color: #999;
        font-size: 12px;
    }
    .comment-list .content .name .level {
        margin: 0 0 0 5px;
    }
    .comment-list .content .comment {
        margin: 0 0 10px 0;
        color: #333;
        font-size: 14px;
        text-align: justify;
    }
    .comment-list .content .bottom {
        height: 11px;
        line-height: 11px;
        color: #999;
        font-size: 11px;
    }
    .comment-list .content .bottom a {
        display: inline-block;
        color: #999;
        font-size: 11px;
    }
    .comment-list .content .bottom img {
        margin: 0 5px;
        width: 11px;
        height: 11px;
    }
    .sub-comment-list {
        margin: 0 0 15px 0;
        border: 1px solid #e5e5e5;
    }
    .sub-comment-list .sub-item {
        padding: 10px;
        border-bottom: 1px solid #e5e5e5;
    }
    .sub-comment-list .sub-item:last-child {
        border-bottom: none;
    }
    .sub-comment-list .sub-item .sub-name {
        margin: 0 0 5px 0;
        color: #999;
        font-size: 12px;
    }
    .sub-comment-list .sub-item .sub-comment {
        color: #333;
        font-size: 14px;
        text-align: justify;
    }

    .c-title {
        padding: 12px;
        color: #333;
        font-size: 16px;
        line-height: 16px;
        vertical-align: middle;
        border-bottom: 1px solid #e5e5e5;
        background: #fff;
        margin-bottom: 0;
    }

    /*** 课程评论 ***/
    .cm-items {
        margin-top: 4px;
        padding: 0 0 0 13px;
    }
    .cm-items .cm-item {
        position: relative;
        padding: 16px 0;
        height: auto;
        border-bottom: 1px solid #e5e5e5;
    }
    .cm-items .cm-item:last-child {
        border-bottom: none;
    }
    .cm-items .cm-item .cm-item-avatar {
        position: absolute;
        width: 35px;
        height: 35px;
    }
    .cm-items .cm-item .cm-item-avatar img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    .cm-items .cm-item .cm-item-content {
        padding: 0 15px 0 48px;
    }
    .cm-items .cm-item .cm-item-content .name {
        margin-bottom: 10px;
        color: #999;
        font-size: 12px;
    }
    .cm-items .cm-item .cm-item-content .comment {
        margin-bottom: 10px;
    }
    .cm-items .cm-item .cm-item-content .sub-comment {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #d0d0d0;
        background: #fff;
    }
    .cm-items .cm-item .cm-item-content .bottom {
        color: #999;
        font-size: 12px;
        line-height: 12px;
    }
    .cm-items .cm-item .cm-item-content .bottom img {
        width: 12px;
        height: 12px;
    }

    /******************************/

    /************* 课程评论*****************/
    .tab-box .hd {
        position: relative;
    }
    .tab-box .hd ul {
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px 12px;
    }
    .tab-box .hd ul:before,
    .tab-box .hd ul:after {
        display: table;
        content: "";
    }
    .tab-box .hd ul:after {
        clear: both;
    }
    .tab-box .hd ul li {
        float: left;
        margin: 0 0 0 10px;
    }
    .tab-box .hd ul li a {
        display: inline-block;
        padding: 0 1px 1px;
        text-align: center;
    }
    .tab-box .hd ul li.on a {
        color: #5b99ee;
        border-bottom: 3px solid #5b99ee;
    }

    .c-title {
        padding: 12px;
        color: #333;
        font-size: 16px;
        line-height: 16px;
        vertical-align: middle;
        border-bottom: 1px solid #e5e5e5;
        background: #fff;
    }
    .c-title .c-line {
        display: inline-block;
        margin: 0 8px 0 0;
        width: 3px;
        height: 16px;
        border-radius: 1px;
        background: #5b99ee;
    }

    .comment-list {
        margin: 0 0 12px 0;
        background: #fff;
    }
    .comment-list .item {
        padding: 12px;
        border-bottom: 1px solid #e5e5e5 !important;
        word-break: break-all;
    }
    .comment-list .item-box {
        position: relative;
        min-height: 35px;
    }
    .comment-list .avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 35px;
    }
    .comment-list .avatar img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    .comment-list .content {
        margin: 0 0 0 45px;
    }
    .comment-list .content .name {
        margin: 0 0 5px 0;
        color: #999;
        font-size: 12px;
    }
    .comment-list .content .name .nickname {
        max-width: 90%;
        line-height: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        -moz-text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }
    .comment-list .content .name .level {
        margin: 0 0 0 5px;
        display: inline-block;
        vertical-align: 14px;
    }
    .comment-list .content .comment {
        margin: 0 0 10px 0;
        color: #333;
        font-size: 14px;
        text-align: justify;
        white-space: pre-line;
    }
    .comment-list .content .bottom {
        height: 13px;
        line-height: 13px;
        color: #999;
        font-size: 11px;
        width: 100%;
    }
    .comment-list .content .bottom a {
        display: inline-block;
        color: #999;
        font-size: 11px;
    }
    .comment-list .content .bottom img {
        margin: 0 5px;
        width: 11px;
        height: 11px;
    }
    .sub-comment-list {
        margin: 0 0 15px 0;
        border: 1px solid #e5e5e5;
    }
    .sub-comment-list .sub-item {
        padding: 10px;
        border-bottom: 1px solid #e5e5e5;
    }
    .sub-comment-list .sub-item:last-child {
        border-bottom: none;
    }
    .sub-comment-list .sub-item .sub-name {
        margin: 0 0 5px 0;
        color: #999;
        font-size: 12px;
    }
    .sub-comment-list .sub-item .sub-comment {
        color: #333;
        font-size: 14px;
        text-align: justify;
        white-space: pre-line;
    }

    #page_2,
    #page_3 {
        display: none;
    }

    #audio_video-view {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -100;
    }

    .c-title {
        padding: 12px;
        color: #333;
        font-size: 16px;
        line-height: 16px;
        vertical-align: middle;
        border-bottom: 1px solid #e5e5e5;
        background: #fff;
    }
    .c-title .c-line {
        display: inline-block;
        margin: 0 8px 0 0;
        width: 3px;
        height: 16px;
        border-radius: 1px;
        background: #5b99ee;
    }

    .recommend-course {
        padding: 5px;
        border-bottom: 10px solid #e5e5e5;
    }
    .td-s-tit {
        padding: 12px;
        border-bottom: 1px solid #e5e5e5;
    }
    .td-s-des {
        padding: 12px;
        color: #999;
    }
    .td-s-list .td-s-item a {
        display: block;
        padding: 12px;
        border-bottom: 1px solid #e5e5e5;
    }
    .td-s-list .td-s-item a:focus {
        background: #f6f6f6;
    }
    .td-s-list .td-s-item a > div {
        position: relative;
        width: 100%;
        height: 80px;
    }
    .td-s-list .td-s-item .td-s-img {
        width: 100px;
        height: 80px;
    }
    .td-s-list .td-s-item .td-s-img img {
        width: 100%;
        height: 100%;
    }
    .td-s-list .td-s-item .td-s-cnt {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 0 0 108px;
        width: 100%;
        height: 80px;
        box-sizing: border-box;
    }
    .td-s-list .td-s-item .td-s-cnt .td-c-title {
        font-size: 14px;
        height: 50px;
        width: 100%;
        white-space: pre-line;
        overflow: hidden;
    }
    .td-c-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0 0 0 108px;
        width: 100%;
        color: #8b8b8b;
        font-size: 12px;
        box-sizing: border-box;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .NewTitle{
        height:30px;
        line-height: 30px;
        background: #e5e5e5;
        color: #666;
        text-indent: 10px;
    }
}
