<ion-header>
    <ion-navbar>
        <ion-title>学员列表</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event, true)" enabled="true">
        <ion-refresher-content pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="正在加载...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngFor="let student of studentList">
            <div class="item">
                <div class="avaster">
                    <img src="{{student.avatarUrl||'assets/images/default_avatar.png'}}">
                </div>
                <span class="student_name">{{student.realName}}</span>
            </div>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doRefresh($event, false)" enabled="true" *ngIf="canLoadMore">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <div class="blank_wrap" *ngIf="studentList.length == 0"><img src="assets/images/task/null.png"></div>
</ion-content>