page-forget-password {
/*tab2*/
    .mb-wrap {
        width: calc(60% - 15px);
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    .vc-wrap {
        width: 40%;
        box-sizing: border-box;
    }
    .btn {
        padding: 10px 6px;
    }
    .vc-wrap .btn {
        font-size: 14px;
    }
    .clear {
        clear: both;
    }
}
