page-class-practice-analysis {
    .questions2-top {
        position: fixed;
        //top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
    }
    .top-fixed {
        margin: 0 auto;
        width: 100%;
        height: 80px;
        max-width: 480px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 15px 0;
        text-align: center;
        border-bottom: 1px solid #e5e5e5;
    }
    .questions2-default-img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }
    .top-fixed span {
        margin-left: 15px;
        font-size: 15px;
        line-height: 50px;
        color: #333;
        vertical-align: 18px;
    }
    .top-fixed span font {
        padding: 0 2px;
        color: #148be1;
    }

    .questions2-list .item {
        margin: 0 0 12px 0;
        padding: 12px;
        border-radius: 4px;
        background: #fff;
    }
    .questions2-list .item:last-child {
        margin: 0;
    }
    .questions2-list .item .question {
        margin: 0 0 15px 0;
        color: #333;
        font-size: 15px;
    }
    .options2-list .item {
        margin: 0 0 12px 0;
        padding: 0;
    }
    .options2-list .item:last-child {
        margin: 0;
    }
    .options2-list .item .option {
        margin: 0 0 5px 0;
        color: #333;
        font-size: 13px;
    }
    .options2-list .item .option .circle {
        display: inline-block;
        margin: 0 8px 0 0;
        width: 20px;
        height: 20px;
        color: #333;
        font-size: 13px;
        text-align: center;
        border: 1px solid #d0d0d0;
        border-radius: 10px;
    }
    .options2-list .item .condition {
        position: relative;
        height: 22px;
    }
    .options2-list .item .condition .progress-box {
        margin: 0 90px 0 0;
        padding: 8px 0 0 0;
    }
    .options2-list .item .condition .progress-box .progress-bar {
        width: 100%;
        height: 6px;
        border-radius: 3px;
        background: #d0d0d0;
    }
    .options2-list .item .condition .progress-box .progress-bar .progress {
        height: 6px;
        border-radius: 3px;
        background: #77B8F7;
    }
    .options2-list .item .condition .number-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        color: #999;
        font-size: 12px;
        text-align: right;
    }
    .vote-num {
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        color: #999;
        font-size: 12px;
        margin-right: 25px;
    }
    .option_img {
        vertical-align: middle;
        margin-left: 5px;
        width: 80px;
    }
    .img_box {
        margin-top: 10px;
    }
    .question_img {
        width: 80%;
    }
    /***************************
    *
    ****************************/
    .audio_wrap {
        margin-top: 8px;
    }

    .subject-list {
        background: #fafafa;
        margin-top: 0;

    }
    .subject-list .subject-item {
        margin: 0 0 10px 0;
        padding: 0 15px;
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        background: #fff;
    }
    .subject-list .subject-item:nth-child(1) {
        border-top: 0;
    }
    .subject-list .subject-item .question {
        position: relative;
        margin: 0 0 18px 0;
        padding: 18px 80px 14px 0;
        color: #333;
        font-size: 16px;
        text-align: justify;
        border-bottom: 1px solid #e5e5e5;
    }
    .subject-list .subject-item .question .question-type {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 0;
        padding: 0px 2px;
        line-height: 16px;
        color: #666;
        font-size: 12px;
        border: 1px solid #666;
        border-radius: 2px;
    }
    .subject-list .subject-item .question .question-type-color-1 {
        color: #73be3c;
        border-color: #73be3c;
    }
    .subject-list .subject-item .question .question-type-color-2 {
        color: #54a2ee;
        border-color: #54a2ee;
    }
    .subject-list .subject-item .question .question-type-color-3 {

    }
    .subject-list .subject-item .question .question-type-color-4 {
        color: #f5974c;
        border-color: #f5974c;
    }
    .subject-list .subject-item .question .question-type-color-5 {

    }
    .subject-list .subject-item .question .question-type-color-6 {

    }

    .img_box, .audio_box {
        margin-top: 10px;
    }
    img.question_img {
        width: 80px;
    }
    img.option_img {
        width: 80px;
    }
    /******************************
        单选题/多选题/判断题选项样式
    ******************************/
    .options-list {
        margin: 0 0 18px 0;
    }
    .options-list .options-item {
        margin: 0 0 15px 0;
    }
    .options-list .options-item:last-child {
        margin: 0;
    }
    .options-list .options-item a {
        display: block;
        color: #666;
        font-size: 15px;
        text-align: justify;
    }
    .letter {
        display: inline-block;
        margin: 0 5px 0 0;
        width: 20px;
        height: 20px;
        line-height: 20px;
        color: #666;
        font-size: 13px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 100%;
        background: #fff;
        vertical-align: top;
    }

    .selectedColor {
        background: #4db1fe !important;
        border-color: #4db1fe !important;
        color: #fff !important;
    }

    /******************************
        简单题输入框样式
    ******************************/
    .short-textarea {
        margin: 0 0 18px 0;
    }
    .short-textarea .short-desc {
        margin: 0 0 18px 0;
        color: #666;
        font-size: 15px;
    }
    .short-textarea textarea {
        padding: 10px;
        width: 100%;
        height: 80px;
        color: #666;
        font-size: 14px;
        border: 1px solid #d0d0d0;
        border-radius: 6px;
        box-sizing: border-box;
        resize: none;
    }

    .subject-list-Img {
        margin-top: 15px;
    }
    .game-textarea {
        width: 90%;
        padding: 10px;
        border-radius: 5px;
        resize: none;
        margin: 0 auto;
        display: block;
        border: 1px solid #e5e5e5;
    }
    .game-input {
        width: 60px;
        border: 0;
        border-bottom: 1px solid #666;
        margin: 0 5px;
    }
    .label {
        margin: 0;
    }
    .list .item {
        line-height: normal;
    }
    .span.button-inner {
        display: block !important;
    }
    .trueCorrect {
        color: green;
    }
    .list-ios {
        margin-bottom: 0px;
    }
    .answer {
        margin-bottom: 15px;
    }
    .answer-resolve {
        margin: 0 0 20px 0;
    }
    .answer-resolve .resolve {
        color: #666;
        font-size: 14px;
    }
    .answer-resolve .answer span {
        color: #31af05;
        font-size: 16px;
    }

    .game-input {
        width: 60px;
        border: 0;
        border-bottom: 1px solid #666;
        margin: 0 5px;
        text-align: center;
    }

    .paddingBot {
        padding-bottom: 15px;
    }

    /******************************
    课程评论
******************************/
    .tab-box .hd {
        position: relative;
    }
    .tab-box .hd ul {
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px 12px;
    }
    .tab-box .hd ul:before,
    .tab-box .hd ul:after {
        display: table;
        content: "";
    }
    .tab-box .hd ul:after {
        clear: both;
    }
    .tab-box .hd ul li {
        float: left;
        margin: 0 0 0 10px;
    }
    .tab-box .hd ul li a {
        display: inline-block;
        padding: 0 1px 1px;
        text-align: center;
    }
    .tab-box .hd ul li.on a {
        color: #5b99ee;
        border-bottom: 3px solid #5b99ee;
    }

    .c-title {
        padding: 12px;
        color: #333;
        font-size: 16px;
        line-height: 16px;
        vertical-align: middle;
        border-bottom: 1px solid #e5e5e5;
        background: #fff;
    }
    .c-title .c-line {
        display: inline-block;
        margin: 0 8px 0 0;
        width: 3px;
        height: 16px;
        border-radius: 1px;
        background: #5b99ee;
    }

    .comment-list {
        margin: 0 0 12px 0;
        background: #fff;
    }
    .comment-list .item {
        padding: 12px;
        word-break: break-all;
        border-bottom: 1px solid #e5e5e5;
    }
    .comment-list .item-box {
        position: relative;
        min-height: 35px;
    }
    .comment-list .avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 35px;
        height: 35px;
    }
    .comment-list .avatar img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    .comment-list .content {
        margin: 0 0 0 45px;
    }
    .comment-list .content .name {
        margin: 0 0 5px 0;
        color: #999;
        font-size: 12px;
    }
    .comment-list .content .name .nickname {
        max-width: 90%;
        line-height: 35px;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        -moz-text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }
    .comment-list .content .name .level {
        margin: 0 0 0 5px;
        display: inline-block;
        vertical-align: 14px;
    }
    .comment-list .content .comment {
        margin: 0 0 10px 0;
        color: #333;
        font-size: 14px;
        text-align: justify;
        white-space: pre-line;
    }
    .comment-list .content .bottom {
        height: 13px;
        line-height: 13px;
        color: #999;
        font-size: 11px;
        width: 100%;
    }
    .comment-list .content .bottom a {
        display: inline-block;
        color: #999;
        font-size: 11px;
    }
    .comment-list .content .bottom img {
        margin: 0 5px;
        width: 11px;
        height: 11px;
    }
    .sub-comment-list {
        margin: 0 0 15px 0;
        border: 1px solid #e5e5e5;
    }
    .sub-comment-list .sub-item {
        padding: 10px;
        border-bottom: 1px solid #e5e5e5;
    }
    .sub-comment-list .sub-item:last-child {
        border-bottom: none;
    }
    .sub-comment-list .sub-item .sub-name {
        margin: 0 0 5px 0;
        color: #999;
        font-size: 12px;
    }
    .sub-comment-list .sub-item .sub-comment {
        color: #333;
        font-size: 14px;
        text-align: justify;
        white-space: pre-line;
    }

    #page_2,
    #page_3 {
        display: none;
    }

    #audio_video-view {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -100;
    }

    .c-title {
        padding: 12px;
        color: #333;
        font-size: 16px;
        line-height: 16px;
        vertical-align: middle;
        border-bottom: 1px solid #e5e5e5;
        background: #fff;
    }
    .c-title .c-line {
        display: inline-block;
        margin: 0 8px 0 0;
        width: 3px;
        height: 16px;
        border-radius: 1px;
        background: #5b99ee;
    }

    .recommend-course {
        padding: 5px;
        border-bottom: 10px solid #e5e5e5;
    }
    .td-s-tit {
        padding: 12px;
        border-bottom: 1px solid #e5e5e5;
    }
    .td-s-des {
        padding: 12px;
        color: #999;
    }
    .td-s-list .td-s-item a {
        display: block;
        padding: 12px;
        border-bottom: 1px solid #e5e5e5;
    }
    .td-s-list .td-s-item a:focus {
        background: #f6f6f6;
    }
    .td-s-list .td-s-item a > div {
        position: relative;
        width: 100%;
        height: 80px;
    }
    .td-s-list .td-s-item .td-s-img {
        width: 100px;
        height: 80px;
    }
    .td-s-list .td-s-item .td-s-img img {
        width: 100%;
        height: 100%;
    }
    .td-s-list .td-s-item .td-s-cnt {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 0 0 108px;
        width: 100%;
        height: 80px;
        box-sizing: border-box;
    }
    .td-s-list .td-s-item .td-s-cnt .td-c-title {
        font-size: 14px;
        height: 40px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        -moz-text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }
    .td-c-bottom {
        width: 100%;
        color: #8b8b8b;
        font-size: 12px;
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        -moz-text-overflow: ellipsis;
        white-space: nowrap;
    }
    /**课程评论**/

}
