page-member-collection-search {
    .toolbar-ios ion-title{
        padding: 0 80px 1px 40px;
    }
    .search-btn{
        position: absolute;
        bottom: 7px;
        right: 20px;
        font-size: 14px;
        color: #666;
        padding: 5px 10px;
        border: 1px solid #999;
        border-radius: 5px;
    }
}
