
page-circle-home{
    .circle ion-segment-button.segment-button {
        border: none !important;
    }
    .circle ion-segment-button.segment-button.segment-activated {
        background: transparent !important;
        color: #387ef5 !important;
        border-bottom: 2px solid #387ef5 !important;
        border-radius: 0 !important;
    }
    .aa .ion-page{
        top: 50px;
        text-align: true;
        padding: 2px;
        padding-bottom:40px !important;
        overflow-y:auto !important;
    }
    .tabbar{
        top: 0px !important;
        height: 50px !important;
        opacity: 1;
    }
    .theme{
        background: #fff;
    }
    .tab2{
        color: #fff;
    }
}