page-index-slides {
    button.disable-hover.button.button-ios.button-default.button-default-ios.button-ios-secondary{
        position: absolute;
        bottom: 40px;
        left: calc((100vw - 250px)/2);
    }
    button.button.button-ios.button-default.button-default-ios.button-ios-secondary{
        position: absolute;
        bottom: 40px;
        left: calc((100vw - 250px)/2);
    }
}
