page-more-recommend {
    .result-number {
        height: 30px;
        line-height: 30px;
        margin-left: 15px;
        margin-top: 5px;
    }

    .result-number span {
        color: orangered;
    }
}
