page-course-search {
    .label-grid {
        margin-left: 15px;
    }

    .label-grid div {
        line-height: 25px;
    }

    .label-grid img {
        width: 25px;
        height: 25px;
    }

    .label-grid span {
        font-size: 13px;
        margin-left: 5px;
        vertical-align: 7px;
    }

    .title-link {
        float: right;
        width: 15px;
        height: 15px;
    }
}

